body{
  background-color: rgb(10, 10, 10);
}

h1{
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
  background-color:aqua;
  border: 1px solid black;
  table-layout: fixed ;
  width: 20% ;
  margin: 0 auto;
  border: 4px solid white
}

td{
  width: 33.33%;
  height: 33.33%;
  position: relative;
  border: 1px solid black;
  width: 15px ;
  height: 15px;
  font-size: small;
  text-align: center;
}

td:hover{
  background-color: mediumslateblue;
  cursor: pointer;
}

h4{
  display: inline;
  margin: 10px;
}

.level1{
  background-color: green;
  border: 3px solid white;
  border-radius: 40%;
  font-family: cursive;
}

.level2{
  background-color: yellow;
  border: 3px solid white;
  border-radius: 40%;
  font-family: cursive;
}

.level3{
  background-color: red;
  border: 3px solid white;
  border-radius: 40%;
  font-family: cursive;
}

.element{
  text-align: center;
}


.levelBtn{
  text-align: center;
 
}

.timeLive{
  text-align: center;
}

.lives{
  text-align: center;
  color:white;
} 
.timer{
  margin-left: 430px;
  text-align: center;
  border: 2px solid white;
  background-color: deeppink;
}

.marked{
  color:white;
}

.overHide{
  background-color: red;
  text-align: center;
  display: none;
}

.overShow{
  background-color: red;
  text-align: center;
  display: block;
  padding: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border: 2px solid white;
  font-family: Verdana;
}
  
.wonHide{
  background-color: saddlebrown;
  text-align: center;
  display: none;
}

.wonShow{
  background-color: rgb(27, 199, 230);
  text-align: center;
  display: block;
  padding: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border: 2px solid white;
  font-family: Verdana;
}

.open{
  background-color: darkgrey;
}
