body{
  background-color: rgb(187, 187, 121);
}


table{
  background-color:aqua;
  border: 1px solid black;
  table-layout: fixed ;
  width: 20% ;
  margin: 0 auto;
}
td{
  width: 33.33%;
  position: relative;
  border: 1px solid black;
  width: 20px ;
  height: 20px;
}



.levelBtn{
  text-align: center;
}



.lives{
  text-align: center;
}
.timer{
  text-align: center;
}

.smileBtnLine{
  text-align: center;
  margin: 0 auto;
}


.overHide{
  background-color: red;
  text-align: center;
  display: none;
}

.overShow{
  background-color: red;
  text-align: center;
  display: block;
}


.wonHide{
  background-color: saddlebrown;
  text-align: center;
  display: none;
}

.wonShow{
  background-color: saddlebrown;
  text-align: center;
  display: block;
}


